@import "./theme/css/bootstrap-clockpicker.min.css";
@import "./theme/css/bootstrap-datetimepicker.min.css";
@import "./theme/css/bootstrap-select.min.css";
@import "./theme/css/buttons.dataTables.min.css";
@import "./theme/css/dropzone.css";
@import "./theme/css/jquery-jvectormap.css";
/* @import "./theme/css/jquery.dataTables.min.css"; */
/* @import "./theme/css/lightgallery.min.css"; */
@import "./theme/css/main.min.css";
@import "./theme/css/nouislider.min.css";
@import "./theme/css/smart_wizard.min.css";
@import "./theme/css/style.css";
@import "./theme/css/swiper-bundle.min.css";
@import "./theme/css/tagify.css";


